extends layout

block content
  h1 Lista de Recursos
  .w3-container.w3-margin
    table.w3-table-all
        tr
            th Tipo
            th Título
            th DataRegisto
            th Curso
        each t in lista
            tr
                td= t.tipo
                td= t.titulo
                td= t.dataRegisto
                td= t.curso

            //td = t._id  //#{t._id}??
