extends layout

block content
  h1 Lista de Users
  .w3-container.w3-margin
    table.w3-table-all
        tr
            th ID User
            th Name
            th Username
            th Email
            th Password
            th Filiação
            th Nivel
            th Data Registo
            th Data Ultimo Acesso
        each u in lista
            tr
                td= u._id
                td= u.name
                td= u.username
                td= u.email
                td= u.password
                td= u.filiation
                td= u.level
                td= u.dateRegister
                td= u.dateLastAcess
                td.w3-center
                  a(href="/users/apagar/"+u._id) Apagar
                  td.w3-center
                    a(href="/users/modificar/"+u._id) Apagar
    .w3-card-2
    a(href="/") Voltar
