extends layout

block content
  nav.navbar.navbar-expand-lg.navbar-dark.w3-dark-grey
    a.navbar-brand(href='/home') Feed/Home
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/repositorio') Repositório
            li.nav-item
                a.nav-link(href='/recursosprivados') Recursos Privados

        ul.navbar-nav.float-right
            li.nav-item
                a.nav-link(href='/users/detalhe/') Conta
            li.nav-item
                a.nav-link(href='/users/manage') Admin
  h1 Lista de Users
  .w3-container.w3-margin
    table.w3-table-all
        tr
            th ID User
            th Name
            th Username
            th Email
            th Password
            th Filiação
            th Nivel
            th Data Registo
            th Data Ultimo Acesso
        each u in lista
            tr
                td= u._id
                td= u.name
                td= u.username
                td= u.email
                td= u.password
                td= u.filiation
                td= u.level
                td= u.dateRegister
                td= u.dateLastAcess
                td.w3-center
                  a(href="/users/apagar/"+u._id) Apagar
                  td.w3-center
                    a(href="/editar/users/"+u._id) Modificar
    .w3-card-2
    .w3-container.w3-dark-grey.w3-center
      p
      a.w3-margin(href="/home") Voltar a homepage
      p
