extends layout

block content
  h1 Lista de Recursos
  .w3-container.w3-margin
    table.w3-table-all
        tr
            th Titulo
            th Subtítulo
            th Descrição
            th Tipo
            th Ano
            th UC
            th Visibilidade
            th Data Criação
            th Rank
            th Download
        each r in lista
            tr
                td= r.title
                td= r.subtitle
                td= r.desc
                td= r.type
                td= r.year
                td= r.uc
                td= r.visibility
                td= r.dateCreation
                td= r.rank
                td= href="/recursos/upload/#{r.id}"
