extends layout

block content
nav.navbar.navbar-expand-lg.navbar-dark.w3-dark-grey
    a.navbar-brand(href='/home') Feed/Home
    button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
        span.navbar-toggler-icon
    .collapse.navbar-collapse(id='navbarSupportedContent')
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/repositorio') Repositório
            li.nav-item
                a.nav-link(href='/recursosprivados') Recursos Privados
        ul.navbar-nav.mr-auto
            li.nav-item.active
                a.nav-link(href='/index') VIEWS/ROTAS

        ul.navbar-nav.float-right
            li.nav-item
                a.nav-link(href='/logout') Logout
            li.nav-item
                a.nav-link(href='/conta') Conta
            li.nav-item
                a.nav-link(href='/admin') Admin
    .w3-container.w3-margin
      table.w3-table-all.w3-border
          tr
            th ID
            td= recurso._id
          tr
            th Autor
            td= recurso.author
          tr
              th Titulo
              td= recurso.title
          tr
            th Subtítulo
            td= recurso.subtitle
          tr
            th Descrição
            td= recurso.desc
          tr
            th Tipo
            td= recurso.type
          tr
            th Ano
            td= recurso.year
          tr
            th UC
            td= recurso.uc
          tr
            th Visibilidade
            td= recurso.visibility
          tr
            th Data Criação
            td= recurso.dateCreation
          tr
            th Rank
            td= recurso.rank

      .w3-card-2
      a(href="/recursos") Voltar