extends layout

block content
    nav.navbar.navbar-expand-lg.navbar-dark.w3-dark-grey
        a.navbar-brand(href='/home') Feed/Home
        button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
            span.navbar-toggler-icon
        .collapse.navbar-collapse(id='navbarSupportedContent')
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/repositorio') Repositório
                li.nav-item
                    a.nav-link(href='/recursosprivados') Recursos Privados
            ul.navbar-nav.mr-auto
                li.nav-item.active
                    a.nav-link(href='/index') VIEWS/ROTAS

            ul.navbar-nav.float-right
                li.nav-item
                    a.nav-link(href='/users/detalhe/') Conta
                li.nav-item
                    a.nav-link(href='/users/manage') Admin

    .w3-container.w3-boarder.w3-dark-grey.w3-margin-top
        p
            .w3-center
                a(href="/recursos/upload") Adicionar Recurso
        p

    .w3-container.w3-margin
        table.w3-table-all
            tr
                // th ID
                th Autor: lista.author
                th Titulo
                th Subtítulo
                th Descrição
                th Tipo
                th Ano
                th UC
                th Visibilidade
                th Data Criação
                th Rank
                th Operações
            each r in lista
                tr
                    // td= r._id
                    td= r.author
                    td= r.title
                    td= r.subtitle
                    td= r.desc
                    td= r.type
                    td= r.year
                    td= r.uc
                    td= r.visibility
                    td= r.dateCreation
                    td= r.rank
                    td
                        a(href="/recursos/"+r._id) Ver

                        a(href="/recursos/download/"+r.downloadName) Download

                        a(href="/editar/recursos/"+r._id) Editar

                        a(href="/recursos/apagar/"+r._id) Apagar

    .w3-container.w3-boarder.w3-dark-grey
        p

        p