extends layout
block content
    //Aluno
    .w3-card-4
      header.w3-container.w3-teal
        h3 Informação do Aluno: #{aluno.Nome}
      //Aluno
      .w3-container
          table(class="w3-table-all")
            tr 
              th Número
              td= aluno.Número
            tr  
              th Nome
              td= aluno.Nome
            tr
              th Git
              td
                a(href=aluno.Git) #{aluno.Git}
            hr
            //---Avaliações
      //Avaliacão
      .w3-container
        table(class="w3-table-all")
            each t in [0,1,2,3,4,5,6,7]
                tr
                    th TPC#{t+1}
                    td= aluno.tpc[t]
            else
                div(class="w3-container")
                    p Sem TPCs registados
                
      footer(class="w3-container w3-teal")
        address Gerado por galuno :: 2020-Novembro
          a(href='/alunos') Voltar  